body {
  background-color: rgb(42, 65, 80);
  color:  #01b59a;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0%;
  overflow-wrap: normal;
  min-width: 411px;
}

a {
  color: #08a8fd;
}
div {
  justify-content: center;
  align-content: center;
}
p {
  color: #f1fffd;
  font-size: 30px;
}
form {
  max-width: 500px;
  max-height: 300px;
}
main.container{
  flex-direction: row;
}
nav a:link{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: larger;
}
a:hover {
 background-color: #08a8fd;
}

nav a:visited{
  color: hotpink;
}

.flat-button:visited{
  color: #08fdd8;
}
main {
  flex-grow: 1;
  justify-content: center;
}

.container {
  display: flex;
  padding: 0%; /* Same as width, sets height */
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1%;
  border-radius: 2%;
  list-style: none;
  text-align: center;
  margin: 0;
}
nav.ul{
    justify-content: center;
    align-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(42, 65, 80);
    padding: 2%;
    border-radius: 2%;
  }

.subcontainer{
    background-color: rgb(42, 65, 80);
    text-align: center;
}
.logo{
  height: 100px;
  width: 100px;
}
.item, .stack {

  border-radius: 4%;
  justify-content: center;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
}
nav .item {
  padding: 0%;
}

.stack {
  padding: 2%;
  flex-direction: column;
  width: 100%;

}
main, aside{
  padding: 5%;
}
nav>ul {
  border-radius: 4%;
}
header, footer {
    background-color: rgb(42, 65, 80);
    flex-grow: 1;
    justify-content: center;
    padding: 0%;
}
hr {
  background-color: #08fdd8;
}
footer.container{
  flex-direction: column;
  padding: 4%;
}
input, textarea{
  background: #2b2b2b;
  width: 250px;
  color: #8d8d8d;
  margin-bottom: 1em;
}
.dark {
  color: #8d8d8d;
}
.smol{
  font-size: 14px;
}
.portrait{
  max-width:100%;
  max-height:100%;
  min-width: 30%;
  min-height: 30%;
}
.portraitBox{
  padding-top: 50px;
  max-width: 30%;
  max-height: 30%;
  min-width: 20%;
  min-height: 20%;
}
.wideLogo{
  width: 200px;
  transform: translateY(25px);
}
.flat-button {
  width: auto;
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 8px 10px;
  border: 2px solid #08fdd8;
  border-radius: 4px;
  background: transparent;
  text-transform: uppercase;
  float: right;
  text-align: center;
  margin-right: 10px;
  list-style: none;
}
.flat-button:hover{
  background: steelblue;
}
