html {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}
body {
    background-color: #425050fa;
    color: aqua;
}
main {
  flex-grow: 1;
  justify-content: center;
}

.container, .subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(42, 65, 80);
  padding: 2%;
  border-radius: 2%;
}
nav.ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightskyblue;
    padding: 2%;
    border-radius: 2%;
  }

.subcontainer{
    background-color: linen;
    text-align: center;
}
.stat{
    padding:10%;
    min-height: 20px;
    margin: 10px;
    text-align: center;
}
.item, .stack {
  flex: 1;
  padding: 2%; /* Same as width, sets height */
  border-radius: 2%;
  position: relative;
  background-color: rgb(47, 31, 51);
  text-align: center;
  list-style: none;
}

.stack {
  padding: 2%;
  flex-direction: column;
}

.item + .item {
    margin-left: 1%;
  }
header, footer {
    background-color: #58adadfa;
}
